<template>
  <div>
    <b-nav tabs>
        <b-nav-item disabled>Seconds: {{ seconds }}</b-nav-item>
    </b-nav>
  </div>
</template>

<script>
export default {
  props: [
    'numCorrect',
    'numTotal',
    'seconds'
  ]
}
</script>
