<template>
  <div class="question-box-container">
    <b-jumbotron v-if="!isFinish">
      <template slot="lead">
      {{countUp}}
        {{ currentQuestion.question }}
  
      </template>
      <hr class="my-4" />

      <b-list-group>
        <b-list-group-item
          v-for="(answer, index) in currentQuestion.answers"
          :key="index"
          @click.prevent="selectAnswer(answer.answer_id)"
          :class="answerClass(answer.answer_id)"
          :disabled="!isEditable"
        >
          {{ answer.answer }}
        </b-list-group-item>
      </b-list-group>

    </b-jumbotron>

    <b-jumbotron v-else>
      <b-button variant="info" @click.prevent="finishQuiz">Bitir</b-button>
    </b-jumbotron>
    
  </div>
</template>

<script>

export default {
  props: {
    currentQuestion: Object,
    next: Function,
    isFinish: Boolean,
    index: Number,
  },
  data: function() {
    return {
      selectedIndex: null,
      correctIndex: null,
      userQuizResult:[],
      answered: false,
      isEditable:true,
      countUp:0,
    }
  },
  methods: {
    selectAnswer(index) {
      this.selectedIndex = index;
      this.countUpTimer();
       let isCorrect = false

      if (this.selectedIndex === this.currentQuestion.correct_answer_id) {
        isCorrect = true
         this.userQuizResult.push({questionId:this.currentQuestion.question_id,question:this.currentQuestion.question,correctAnswerId:this.currentQuestion.correct_answer_id,userAnswerId:this.selectedIndex})
         
      }
      this.answered = true
    },
    answerClass(index) {
      let answerClass = ''
    
      if (!this.answered && this.selectedIndex === index) {
        answerClass = 'selected'
      } else if (this.answered && this.currentQuestion.correct_answer_id === index) {
        answerClass = 'correct'
      } else if (this.answered &&
        this.selectedIndex === index &&
        this.correctIndex !== index
      ) {
        answerClass = 'incorrect'
      }
      return answerClass
    },
    countUpTimer(){
          if(this.countUp <3 ) {
              setTimeout(() => {
                  this.countUp += 1
                  this.countUpTimer()
              }, 1000)
          }
          else if(this.countUp == 3){ 
              this.isEditable=false;   
              this.countUp=0;
              
          }
    },
    finishQuiz(){
        
    }
  },
   watch: {
    currentQuestion: {
      immediate: true,
      handler() {
        this.selectedIndex = null
        this.answered = false;
        this.isEditable=true;
        if(this.index!=0 && this.currentQuestion){
          this.userQuizResult.push({questionId:this.currentQuestion.question_id,question:this.currentQuestion.question,correctAnswerId:this.currentQuestion.correct_answer_id,userAnswerId:this.selectedIndex})
        }
      }
    },
  },
}
</script>

<style scoped>
.list-group {
  margin-bottom: 15px;
}

.list-group-item:hover {
  background: #EEE;
  cursor: pointer;
}

.btn {
  margin: 0 5px;
}

.selected {
  background-color: lightblue;
}

.correct {
  background-color: lightgreen;
}

.incorrect {
  background-color: red;
}
</style>
