<template>
  <div id="app">
    <Header
      :numCorrect="numCorrect"
      :numTotal="numTotal"
      :seconds="countDown"
    />

    <b-container class="bv-example-row">
      <b-row>
        <b-col sm="6" offset="3">
          <QuestionBox
            v-if="questions.length"
            :currentQuestion="newQuestions[index]"
            :isFinish="isFinish"
            :index="index"
          />
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import QuestionBox from './components/QuestionBox.vue'
import axios from 'axios'

export default {
  name: 'app',
  components: {
    Header,
    QuestionBox
  },
  data() {
    return {
      countDown : 10,
      questions: [],
      newQuestions:[],
      index: 0,
      numCorrect: 0,
      numTotal: 0,
      isFinish:false,
      
    }
  },
  created(){
   this.countDownTimer()
  },
  methods: {
    countDownTimer() {
          if(this.countDown > 0) {
              setTimeout(() => {
                  this.countDown -= 1
                  this.countDownTimer()
              }, 1000)
          }
          else if(this.countDown == 0){
            if(this.index<5){
               this.index++;
               this.countDown = 10;
               this.countDownTimer();
            }
            else{
               this.isFinish=true;
            }
          }  
    },
   reCreateQuestions( questions){
        questions.forEach((item)=>{
          if(!this.newQuestions.some(sec=>sec.difficulty_level==item.difficulty_level)){
           let difficulty_level_count=questions.filter(x=>x.difficulty_level==item.difficulty_level).length;
            if(difficulty_level_count>1){
                console.log('213',questions.filter(x=>x.difficulty_level==item.difficulty_level)[Math.floor(Math.random() * difficulty_level_count)])
                this.newQuestions.push(questions.filter(x=>x.difficulty_level==item.difficulty_level)[Math.floor(Math.random() * difficulty_level_count)]); 
            }
            else{
               this.newQuestions.push(item);
            }
          }
        });
        return this.newQuestions.sort((x,y)=>{return y.difficulty_level - x.difficulty_level;});
  },
  },
  mounted: function() {
    axios.get('http://www.mocky.io/v2/5da81ea81200005400edab66').then((response) => {
        console.log('sr',response.data)
         this.questions = response.data;
          this.reCreateQuestions(this.questions);
      }).catch(e=> console.log(e));
  },
 
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
